.vscode/**
.vscode-test/**
out/**
node_modules/**
.gitignore
**/*.map
**/*.ts
vscode-1.107.0/**
vscode-1.107.0.tar.gz
__pycache__/**
**/*.pyc
*.vsix
docs/**
scripts/**
google-cloud-gcp-agent-chat.code-workspace

